---
const { title, href, favicon } = Astro.props;
---

    
<div class="box">
    <a target="_blank" rel="noopener noreferrer" class="no-icon" href={href}>
        <img alt={title} title={title} height="16" width="16" src={favicon} />
        <p>{title}</p>
    </a>
</div>

<style>
    a {
        text-decoration: none;
        display: flex;
    }
    .box {
        display: flex;
        padding: 5px 8px;
        background-color: var(--bg4);
        border-radius: 5px;
    }
    img {
        align-self: center;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
        padding: 0 10px 0 2px;
    }
    p {
        margin: 0;
    }
</style>