---
import BasePageLayout from '../../layouts/BasePageLayout.astro';
import PageContainer from '../../components/PageContainer.astro';
import { getCollection } from 'astro:content';
import BlogContentContainer from '../../components/BlogContentContainer.astro';

export async function getStaticPaths() {
    const blogs = await getCollection('blog');
    return blogs.map(entry => ({
        params: { slug: entry.slug }, props: { entry },
    }));
}

const { entry } = Astro.props;

let dateString = entry.data.publishedDate;
if (entry.data.updatedDate.length > 0) {
    dateString += " (Edited: ";
    entry.data.updatedDate.forEach((date, idx) => {
        dateString += date
        if (idx+1 < entry.data.updatedDate.length) {
            dateString += ", ";
        }
    })
    dateString += ")";
}
---

<BasePageLayout title={entry.data.title}>
    <PageContainer>
        <div id="header">
            <h1 id="blog-title">{entry.data.title}</h1>
            <h id="blog-date">{dateString}</h>
        </div>
        <div id="blog-card">
            <BlogContentContainer post={entry}>
        </div>
        <div id="footer">
            <p>- BvngeeCord</p>
            <p> {dateString} </p>
        </div>
    </PageContainer>
</BasePageLayout>
<style>
    #header {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
    #blog-title {
        flex-grow: 0;
        margin: 0;
        max-width: 75%;
        text-shadow: 2px 4px 9px rgba(0,0,0,0.4);
    }
    #blog-date {
        min-width: max-content;
        align-content: end;
        margin-bottom: 2px;
        color: var(--gray2)
    }
    #blog-card {
        padding: 15px;
        margin: 20px 0 0 0;
        background-color: var(--bg2);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
    }
    #footer {
        color: var(--gray2);
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
        margin-bottom: 100px;
    }
</style>
