---
import BasePageLayout from "../../layouts/BasePageLayout.astro";
import PageContainer from "../../components/PageContainer.astro";
import { getCollection, CollectionEntry } from "astro:content";
import BlogContentContainer from "../../components/BlogContentContainer.astro";

export async function getStaticPaths() {
    const blogs = await getCollection("blog");
    return blogs.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const entry: CollectionEntry<"blog"> = Astro.props.entry;

let edits: string[] = entry.data.edits.map(
    (edit) => edit.date + ": " + edit.desc,
);
---

<BasePageLayout title={entry.data.title}>
    <PageContainer>
        <div id="header">
            <h1 id="blog-title">{entry.data.title}</h1>
            <p id="blog-date">
                {entry.data.publishedDate}
                {
                    entry.data.edits.length > 0 ? (
                        <span>
                            (<a href="#edits">edits</a>)
                        </span>
                    ) : null
                }
            </p>
        </div>
        <div id="blog-card">
            <BlogContentContainer post={entry} />
        </div>
        <div id="footer">
            <div id="edits">
                {
                    edits.length > 0 ? (
                        <>
                            <p>Edits:</p>
                            <ul>
                                {edits.map((str) => (
                                    <li>{str}</li>
                                ))}
                            </ul>
                        </>
                    ) : null
                }
            </div>
            <p>© Bvngee - {entry.data.publishedDate}</p>
        </div>
    </PageContainer>
</BasePageLayout>
<style>
    #header {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
    #blog-title {
        flex-grow: 0;
        margin: 0;
        max-width: 75%;
        text-shadow: 2px 4px 9px rgba(0, 0, 0, 0.4);
    }
    #blog-date {
        align-content: end;
        margin-bottom: 2px;
        color: var(--gray2);
    }
    #blog-date span {
        padding-left: 0.2rem;
    }
    #blog-date a {
        color: var(--gray2);
        padding: 0 1px;
    }
    #blog-card {
        padding: 15px;
        margin: 20px 0 0 0;
        background-color: var(--bg2);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
    }
    p#nametag {
        color: var(--gray2);
        margin: 20px 15px;
        justify-content: right;
        display: flex;
    }
    #footer {
        color: var(--gray2);
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: space-between;
        margin: 20px 15px;
        margin-bottom: 100px;
    }
    #footer p {
        display: inline;
        margin: 2px;
    }
    #edits ul {
        margin: 0;
        padding-left: 1.8rem;
    }
</style>
